## UASR configuration file
## - Coins database - live demo: Configuration file for HMM.xtp trn
##
##   Usage: 
##
##     dlabpro $UASR_HOME/scripts/dlabpro/HMM.xtp trn HMM-trn.cfg

## Database settings                                                            # -------------------------------------
uasr.db                   = "coins";                                            # Database name
uasr.exp                  = "LIVE";                                             # Experiment name

## Signal, preprocessing and feature settings                                   # -------------------------------------
uasr.sig.srate            = 48000;                                              # Signal sampling rate [Hz]
uasr.pfa.crate            = 160;                                                # Analysis frame rate [samples]
uasr.pfa.wlen             = 400;                                                # Analysis window length [samples]
uasr.pfa.len              = 512;                                                # Frame length

## Acoustic model settings                                                      # -------------------------------------
uasr.am.train.split       = 1; #5                                               # Number of splits
uasr.am.train.ite0        = 3;                                                  # Number of iterations at split 0
uasr.am.train.ite1        = 5;                                                  # Number of iterations at split 1
uasr.am.train.ite2        = 7;                                                  # Number of iterations at split 2
uasr.am.train.ite3        = 9;                                                  # Number of iterations at split 3
uasr.am.train.ite4        = 11;                                                 # Number of iterations at split 4
uasr.am.train.ite5        = 13;                                                 # Number of iterations at split 5
uasr.am.train.ite6        = 7;                                                  # Number of iterations at split 6
uasr.am.train.ite7        = 7;                                                  # Number of iterations at split 7
uasr.am.train.splitbest   = TRUE;                                               # Use the best HMM for split
uasr.am.model             = "0_0";                                              # Default model for recogn./synthesis

## EOF